.main-portfolio {
	overflow-x: hidden !important;
}

.hero-portfolio {
	position: relative;
	width: 100%;
	height: 95vh; /* Adjust height as needed */
	background-image: url("../../assets/portfolio.jpg"); /* Replace with your image path */
	background-size: cover; /* Ensures the image covers the area */
	background-position: center; /* Centers the image */
	background-repeat: no-repeat; /* Prevents the image from repeating */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden !important;
}

.hero-portfolio .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 95vh;
	background: rgba(0, 0, 0, 0.1); /* Dark overlay with 50% opacity */
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-portfolio .overlay-portfolio h1 {
	color: #fff;
	text-align: center;
	margin: 0;
}
.portfolio {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.portfolio-item {
	position: relative;
	width: 30%; /* Adjust width for different screen sizes */
	margin-bottom: 20px;
	overflow: hidden;
}

.portfolio-image {
	width: 100%;
	object-fit: cover;
	height: 70vh;
}

.overlay-portfolio {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay-portfolio {
	opacity: 1;
}

.text-container {
	text-align: center;
	color: white;
	background-color: var(--blue);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	border-radius: 50% 50% 0 0;
}

.arrow-icon {
	width: 80px;
	margin-bottom: 20px;
}

@media only screen and (min-width: 440px) and (max-width: 1024px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.portfolio-item {
		position: relative;
		width: 45%;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.portfolio-image {
		width: 100%;
		object-fit: cover;
		height: 45vh;
	}
	.arrow-icon {
		width: 50px;
		margin-bottom: 20px;
	}
	.text-container h3 {
		font-size: 13px;
		margin-bottom: -5%;
		padding-bottom: 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 439px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.portfolio-item {
		width: 70%;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.portfolio-image {
		width: 100%;
		object-fit: cover;
		height: 45vh;
	}
	.arrow-icon {
		width: 50px;
		margin-bottom: 20px;
	}
	.text-container h3 {
		font-size: 13px;
		margin-bottom: -5%;
	}
	.text-container p {
		font-size: 12px;
	}
}
