/* ExperienceSection.css */
.experience-section {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 10%;
}

.experience-list {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: relative;
	margin-right: 20px;
	margin-top: -25px;
}
.experience-list h2 {
	font-size: 2.5rem;
}
.experience-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.experience-item .number {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	z-index: 1;
}

.experience-item .content {
	margin-left: 1rem;
}

.experience-item .content h3 {
	margin: 0;
}

.experience-list::before {
	content: "";
	position: absolute;
	top: 20rem;
	bottom: 1rem;
	left: 1rem;
	width: 0;
	border-left: 2px dotted #000;
	z-index: 0;
}

.experience-summary {
	flex: 1;
	max-width: 400px;
	text-align: left;
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 1rem;
	border: dotted;
}
.experience-years {
	display: flex;
	align-items: flex-end;
}
.experience-summary h1 {
	font-size: 10rem;
	margin: 0;
	color: #4a646c;
	margin-right: 5px;
}

.experience-summary h2 {
	font-size: 2rem;
	margin: 0.5rem 0;
	color: #a9a9a9;
}

.experience-summary p {
	margin-top: 1rem;
}
/*Media Query*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.experience-list::before {
		top: 23rem;
	}
	.experience-summary {
		margin-top: 6%;
	}
	.experience-item .content {
		margin-top: 15%;
	}
}
@media only screen and (min-width: 380px) and (max-width: 767px) {
	.experience-section {
		flex-direction: column;
	}
	.experience-summary {
		margin-top: 20px;
		max-width: 90vw;
	}
}
@media only screen and (min-width: 320px) and (max-width: 379px) {
	.experience-summary {
		margin-top: 20px;
		max-width: 70vw;
	}
	.experience-list h2 {
		font-size: 1.5rem;
	}
	.experience-list::before {
		top: 17rem;
	}
	.experience-summary h1 {
		font-size: 8rem;
	}
	.experience-summary h2 {
		font-size: 1.2rem;
	}
}
