.hero-home {
	text-align: center;
}
.home-form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--yellow);
	padding: 2rem;
}
form {
	display: flex;
	align-items: center;
}
.form-group {
	display: flex;
	align-items: center;
	margin: 0 1rem;
	background-color: #fff;
	padding: 0.5rem;
}
.form-group img {
	height: 20px;
	margin-right: 0.5rem;
}
.form-group input {
	padding: 0.5rem;
	border: none;
	outline: 0;
}
.services-list {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.list-left {
	width: 56%;
}
.item-list {
	display: flex;
	width: 100%;
}
.item-list ul li {
	list-style: circle;
	padding: 5px;
	font-weight: 450;
}
.button {
	outline: none;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}
.nav-link {
	text-decoration: none;
}

.btn.button img.arrow-up {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}
.list-right {
	width: 40%;
	height: 100%;
}
.list-right img {
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius: 20px;
}
#list2 {
	z-index: 10;
	margin-left: 35%;
	margin-top: -20%;
}
#list3 {
	z-index: 20;
	margin-top: -20%;
}
.choose-home {
	margin-top: 5%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}
.choose-left img {
	height: 120vh;
	width: 50vw;
	object-fit: cover;
}
.choose-right {
	background-color: #36454f;
	color: #dfff;
	height: 120vh;
}
.context-right {
	margin-top: 40%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.content {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.home-about {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	width: 96%;
	margin-top: 5%;
	padding: 20px;
}

.about-left,
.about-right {
	flex: 1;
	min-width: 0;
}

.about-right {
	margin-left: 20px;
}
.margin-div {
	margin-top: 5%;
}
.main-callback {
	position: relative;
	width: 100%;
	height: 60vh;
	background-image: url("../../assets/callback.jpg");
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffff;
}
.callback {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	width: 96%;
}
.callback-left,
.callback-right {
	flex: 1;
	min-width: 0;
}

.callback-right {
	margin-left: 20px;
}
.callback-right input {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	outline: var(--blue);
}
.sending-message {
	color: var(--blue);
	font-size: 16px;
	margin-bottom: 10px;
}

.form-status {
	color: var(--yellow);
	font-size: 16px;
	margin-bottom: 10px;
}
